<h1 class="receipt-header">Receipt</h1>
<br>
Party size: <%=@party.guest_count%>
<h5>Orders:</h5>
<ul>
  <%@orders.each do |order|%>
    <li>

      <%=order.food.name%>..................
      $<%=order.food.price%>

    </li>
  <%end%>
</ul>


<%total = 0%>
<%@orders.each do |order|%>
  <%total += order.food.price%>
<%end%>
-------------------------------<br>
Order Total: <%='%.2f' % total%> <br> <br>
Gratuity:<br>
 <span class="tip">15%=</span><%='%.2f' % (total * 0.15)%>
<span class="tip">20%=</span> <%='%.2f' % (total * 0.20)%>
<span class="tip">25%=</span> <%='%.2f' % (total * 0.25)%><br>


<!-- <a href="orders/new?party[id]=3">new order</a> -->
<div class="center-block">
  <button class="btn-primary btn-lg print-button" type="button" name="button">Print</button>
</div>
