
<div class="row">
  <h1 class="col-xs-9">
    Table: <%=@party.table_number%>
  </h1>
  <a class="col-xs-3 btn-primary btn-lg order-button" href="/../orders/new?party[id]=<%=@party.id%>&party[guest_count]=<%=@party.guest_count%>">+ Order</a>
</div>

Number of guests: <%=@party.guest_count%>
<br>
<a href="/parties/<%=@party.id%>/edit?party[guest_count]">Edit / Checkout</a>
<br>

<ul class="party-orders-table list-group-item ">
  <%@orders.each do |order|%>
    <li class="row list-group-item party-orders">
      <span class="food-names col-xs-7">
        <%=order.food.name%>
      </span>

      <span class="col-xs-3">
        $<%=order.food.price%>
      </span>
      <span  class="col-xs-1">
        <form action="/orders/<%=order.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="btn btn-default remove-order-button" type="submit">-</button>
        </form>
      </span>
    </li>
  <%end%>
</ul>

<!-- <a href="orders/new?party[id]=3">new order</a> -->
<div class="row">
  <div class="col-md-4 center-block">
    <a class="receipt-button btn-primary btn-lg" href="/parties/<%=@party.id%>/receipt">receipt</a>
  </div>
</div>
