<h3>all the orders</h3>
<a href="/parties">Show All Tables</a>
<ul>
<%=%>

  <%@orders.each do |order|%>
    <li>
      NAME: <%=order.food.name%>


        <%=order.description%>


      Table: #<%=order.party.table_number%>

      <li  class="order-time"><%=Time.now - order.created_at%></li>
          </li>

<form action="/orders/<%=order.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="order[complete]" value="TRUE">
  <input type="submit" value="complete">
</form>

  <%end%>
</ul>
